<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Flash Card
    </ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content overflow-scroll="true">
  <ion-searchbar show-clear-button="focus" value=""></ion-searchbar>
<ion-grid [fixed]="true">
  <ion-row class="card-container" style="display: flex;
  justify-content: space-between">
    <ion-col size = "0.5"></ion-col>
    <ion-col size = "11">
      <ion-card color="dark content" *ngFor="let herramienta of herramientas; let i = index">
        <div class="card-container" [class.flipped]="flipState[i]" (click)="flipCard(i)">
          <div class="card-front">
            <ion-card-header class="card">
              <ion-card-title style="text-align: center;">¿Que Herramienta es?</ion-card-title>
              <img class="center" alt="{{ herramienta.nombre }}" [src]="herramienta.imagen" style = "size : 100%;"/>
            </ion-card-header>
          </div>
          <div class="card-back">
            <ion-card-header class="card">
              <ion-card-title>{{ herramienta.nombre }}</ion-card-title>
              <h2 >{{ herramienta.descripcion }}</h2>
            </ion-card-header>
          </div>
        </div>
      </ion-card>
    </ion-col>
    <ion-col size = "0.5"></ion-col>
  </ion-row>
</ion-grid>

</ion-content>


