<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Tab 1
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-grid [fixed]="true">
    <ion-row class="card-container">
      
        <ion-card color="dark content" *ngFor = "let herramienta of herramientas">
          <ion-card-header class="card card-front">
            <ion-card-title class="">{{herramienta.nombre}}</ion-card-title>
            <h2>{{herramienta.descripcion}}</h2>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          </ion-card-header>
        </ion-card>
    
    </ion-row>
  </ion-grid>
</ion-content>



