.card-container {
	min-width: 18rem;
	perspective: 200rem;
	cursor: pointer;
  }
  
  .card-container.flipped .card-front {
	transform: rotateY(180deg);
	transition-timing-function: 1s;
  }
  
  .card-container.flipped .card-back {
	transform: rotateY(0deg);
	visibility: visible;
  }
  
  .card-front,
  .card-back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.9s;
  }
  
  .card-back {
	transform: rotateY(-180deg);
	visibility: hidden;
  }
  
  .card {
	width: 100%;
	height: 100%;
	position: relative;
  }
  
  .content {
	min-height: 15rem;
	min-width: 15rem;
	}
	.card-title {
		font-size: 1.2rem;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	  }
	  
	  .card-description {
		font-size: 1rem;
		line-height: 1.4;
		white-space: normal;
		overflow: hidden;
		text-overflow: ellipsis;
	  }