.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
  padding-top: 20px; /* Ajusta el padding superior */
}

.spacer {
  flex-grow: 1;
}

.image-wrapper {
  position: relative;
}

.image-container {
  margin-top: -20px; /* Ajusta el margen superior negativo para evitar que toque el toolbar */
}

.fire-animation {
  animation: fireAnimation 1s infinite;
}

@keyframes fireAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.body {
  max-width: 300px; /* Ajusta el ancho máximo del contenido */
  text-align: center;
}

.form {
  margin-top: 20px; /* Ajusta la separación superior */
}

.errorLabel {
  display: block;
  margin-top: 8px; /* Ajusta la separación superior */
  font-size: 12px;
  color: red;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.modal-body {
  max-width: 300px; /* Ajusta el ancho máximo del contenido */
  text-align: center;
}

.form {
  margin-top: 20px; /* Ajusta la separación superior */
}

.errorLabel {
  display: block;
  margin-top: 8px
}
