<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="!juegoTerminado">
    <ion-row>
      <ion-col size="12" class="imagen-container">
        <ion-item>
          <ion-avatar slot="start" class="animal-image">
            <img [src]="animalMostrado.imagen" />
          </ion-avatar>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="pregunta-container">
        <ion-item>
          <ion-label>
            <p>¿Qué animal es?</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="casillas-container">
        <ion-input *ngFor="let letra of letrasMostradas; let i = index" [(ngModel)]="letrasMostradas[i]" class="input-letra"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="letras-desordenadas">
        <ion-button *ngFor="let letra of letrasDesordenadas" (click)="colocarLetra(letra)">{{ letra }}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="boton-verificar">
        <ion-button (click)="verificarRespuesta()">Verificar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="juegoTerminado">
    <h2 *ngIf="juegoGanado">¡Ganaste!</h2>
    <h2 *ngIf="!juegoGanado">¡Perdiste! El animal era {{ animalMostrado.nombre }}</h2>
    <button (click)="reiniciarJuego()">Jugar de nuevo</button>
  </div>
</ion-content>